body {
  /* 画像ファイルの指定 */
  background-image: url(IMG_1861.png);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

.sample {
  width: "50px";
  height: "50px";
}

.center{
　text-align : center;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
}


button {
  border: none;
  padding: 1em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: 1.2em;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
button:before, button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
button:before {
  filter: blur(7px);
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
          animation: pulse 10s infinite ease;
}
button:after {
  filter: blur(0.3px);
}
button:hover:before {
  width: 115%;
  height: 115%;
}

.example{
  
    padding: 1px;

    margin-top:1px;
}